body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    background: radial-gradient(circle at top, #7a0308 0%, #000000 75%);
    min-height: 100vh;
}

.sign-in-header{
    border-bottom: 1px solid rgb(39, 30, 30);
    padding: 20px;
}


.sign-in-logo{
    display: flex;
    justify-content: flex-start;
    height: 80px;
    width: 200px;
    margin-left: 150px;
    margin-top: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.sign-in-container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 480px;
    height: 677px; 
}

.sign-in-container p {
    color: rgb(185, 181, 181);
}

.log-input{
    width: 450px;
    height: 56px;
    background-color: rgb(28, 19, 19);
    border: 1px solid rgb(39, 30, 30);

}